body, html
    font-size: 10px
    line-height: 1
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
    user-select: none
    -webkit-tap-highlight-color: transparent

// 工具类

.w
    width: 1200px
    margin: 0 auto

.clearfix::before,
.clearfix::after
    content: ''
    display: table

.clearfix::after
    clear: both

.pull-left
    float left

.pull-right
    float right

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active
    transition all .4s;

.fade-transform-enter
    opacity 0
    transform translateX(-50px)

.fade-transform-leave-to
    opacity 0
    transform translateX(50px)