body, html
    font-size: 10px
    line-height: 1
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
    -webkit-tap-highlight-color: transparent

// 工具类

.container
    box-sizing border-box
    min-height calc(100vh - 5rem)
    padding 2rem 1.5rem

.text-bold
    font-weight bold

.w
    width: 1200px
    margin: 0 auto

.clearfix::before,
.clearfix::after
    content: ''
    display: table

.clearfix::after
    clear: both

.pull-left
    float left

.pull-right
    float right

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active
    transition all .4s;

.fade-transform-enter
    opacity 0
    transform translateX(-30px)

.fade-transform-leave-to
    opacity 0
    transform translateX(30px)

// 颜色相关
.color-blue
    color #409EFF

.color-red
    color #e74c3c

.color-green
    color #2ecc71

.color-orange
    color #f0932b