// 字体大小
$fs-lx = 2.8rem
$fs-l = 2.4rem
$fs-mx = 2.2rem
$fs-m = 2rem
$fs-s = 1.8rem
$fs-ss = 1.4rem

// 颜色
$loginBg=#283443
$white=#fff
$blue=#409EFF
$light-blue=#8CC5FF
$purple=#8165CF
$light-purple=#B59AFE

// 字体颜色
$deep-text=#303133
$second-text=#606266
$ligth-text=#909399

// 布局
$sidebarWidth=20rem
$sidebarColor=#2f3542