// 字体大小
$article-title=3.6rem
$fs-lx = 2.8rem
$fs-l = 2.4rem
$fs-mx = 2.2rem
$fs-m = 2rem
$fs-s = 1.6rem
$fs-ss = 1.4rem
$fs-sss = 1.2rem

// 颜色
$greyBg=#DCDFE6
$loginBg= #283443
$line-grey=rgba(236,240,241, .5)
$white=#fff
$blue=#409EFF
$light-blue=#8CC5FF
$purple=#8165CF
$light-purple=#B59AFE
$orange=#f39c12
$yellow=#f1c40f
$red=#F56C6C
$light-red=#e74c3c

// 字体颜色
$deep-text=#303133
$second-text=#606266
$ligth-text=#909399

// 布局
$sidebarWidth=20rem
$sidebarColor=#2f3542
$navHeight=5rem
$contentHeight=calc(100vh - 5rem)

// 文字溢出用三个点表示隐藏
text-overflow()
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
